body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url() ;
}

h1{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}



